@font-face {
    font-family: neueHaas;
    src: url('/typography/NeueHaasDisplayXThin.ttf')  format('truetype');
  }


  @font-face {
    font-family: timesNew;
    src: url('/typography/Times\ New\ Roman.ttf')  format('truetype');
  }
  
  html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: none;
    position: fixed;
    }


.maincontainer{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: top;
}

h1{
    text-align: center;
    font-family: neueHaas;
    font-weight: 50;    
    font-size: 1.5em;
    margin: 0;
    margin-top: 1vh;
    letter-spacing: 0em;
    text-decoration: none;

}
.contact div{
    text-align: center;
    font-family: neueHaas;
    font-weight: 50;    
    font-size: 0.7em;
    letter-spacing: 0.1em;
    text-decoration: none;
    padding: 0;
}

a{
    text-align: center;
    font-family: neueHaas;
    font-weight: 50;    
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    padding: 0;
}

.contact{
    margin-top: 100px;
    text-align: center;
    font-family: neueHaas;
    font-size: 15px;
    letter-spacing: .02em;
}

@media (max-width: 600px) {
    .contact {
        font-size: 9px;
        font-family: neueHaas;
        letter-spacing: .02em;
    }
}


#log img {
    height: 100%;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#log{
    width: 140px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: black;

}